header{
    width: 980px;
    margin: 0 auto;
    p{
        font-size: 13px;
    }
}

.navi{
    display: flex;
    justify-content: center;
    background-color: #001754;
    color: #ffffff;
    height: 40px;
    margin-top: 5px;
    p{
        border-left: 1px solid #ffffff;
        line-height: 40px;
        padding: 0 98px;
    }
    p:nth-of-type(4){
        border-right: 1px solid #ffffff;
    }
}

main{
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .main-left{
        max-width: 700px;
        width:100%;
        .service{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .service_item{
                width: 33.33%;
                min-width: 230px;
                padding-right: 20px;
                .service_item_img{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                h3{
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    form{
        width: 700px;
        table{
            tr{
                th{
                    line-height: 50px;
                    width: 260px;
                    background-color: #cccccc;
                    border-bottom: 1px solid #ffffff;
                    padding-left: 15px;
                }
                td{
                    width: 440px;
                    background-color: #ffffff;
                    border-bottom: 1px solid #cccccc;
                    border-right: 1px solid #cccccc;
                    padding-left: 15px;
                    .name{
                        width: 200px;
                    }
                    textarea{
                        resize: none;
                        width: 380px;
                        margin: 10px 0;
                    }
                }
                .name-box{
                    border-top: 1px solid #cccccc;
                }
            }
        }
        .submit_btn{
            margin: 0 auto;
            width: 100px;
            text-align: center;
            display: block;
            background-color: #cccccc;
            margin-top: 10px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
        }
    }
    .main-right{
        width: 260px;
    }
}
